.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.popularSetsTitleContainer {
  width: 1171px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.bgGift1 {
  align-self: stretch;
  height: 459px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color2);
  border: 1px solid var(--ededf0);
  box-sizing: border-box;
  display: none;
}
.div,
.imgGift1Icon {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.imgGift1Icon {
  align-self: stretch;
  height: 300px;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div {
  flex: 1;
  font-weight: 600;
  display: inline-block;
}
.giftTitlesContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.p,
.p1 {
  margin: 0;
}
.div1 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.giftDescriptionsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-proxima-nova);
}
.div2,
.fifthGiftInfoChild {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.fifthGiftInfoChild {
  height: 1px;
  border-top: 1px solid var(--ededf0);
  box-sizing: border-box;
}
.div2 {
  font-weight: 600;
}
.fifthGiftPriceValueContain {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
}
.fifthGiftAddToCartContainChild {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--ededf0);
  box-sizing: border-box;
  z-index: 1;
}
.fifthGiftAddToCartContain {
  height: 49px;
  width: 11.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.fifthGiftAddToCartIconCoChild {
  width: 13.3px;
  height: 19px;
  position: relative;
  z-index: 1;
}
.fifthGiftAddToCartIconCo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.div3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--montserrat-semi-18);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.fifthGiftAddToCartButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.fifthGiftCartButtonContain,
.fifthGiftPriceWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.fifthGiftCartButtonContain {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
  gap: var(--gap-xs-7);
}
.fifthGiftPriceWrapper {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.fifthGiftInfo,
.fifthGiftPriceContainer,
.giftInfoContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.fifthGiftPriceContainer {
  flex-direction: row;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
}
.fifthGiftInfo,
.giftInfoContainer {
  flex-direction: column;
}
.fifthGiftInfo {
  color: var(--color1);
}
.giftInfoContainer {
  gap: var(--gap-2xs);
}
.bgGift3,
.gift1 {
  border-radius: var(--br-8xs);
  background-color: var(--color2);
  border: 1px solid var(--ededf0);
  box-sizing: border-box;
}
.gift1 {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 351px;
  max-width: 100%;
}
.bgGift3 {
  align-self: stretch;
  height: 459px;
  position: relative;
  display: none;
}
.ingGift3Icon {
  height: 300px;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div4,
.div5,
.ingGift3Icon {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.div4 {
  font-weight: 600;
}
.div5 {
  font-size: var(--font-size-sm);
  font-family: var(--font-proxima-nova);
  color: var(--color-gray-400);
}
.gift3Inner,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.gift3Inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
}
.div6,
.sixthGiftInfoChild {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.sixthGiftInfoChild {
  height: 1px;
  border-top: 1px solid var(--ededf0);
  box-sizing: border-box;
}
.div6 {
  font-weight: 600;
}
.sixthGiftPriceValueContain {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
}
.sixthGiftAddToCartContainChild {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--ededf0);
  box-sizing: border-box;
  z-index: 1;
}
.sixthGiftAddToCartContain {
  height: 49px;
  width: 11.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.sixthGiftAddToCartIconCoChild {
  width: 13.3px;
  height: 19px;
  position: relative;
  z-index: 1;
}
.sixthGiftAddToCartIconCo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.div7 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--montserrat-semi-18);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.sixthGiftAddToCartButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.sixthGiftCartButtonContain,
.sixthGiftPriceWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sixthGiftCartButtonContain {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
  gap: var(--gap-xs-7);
}
.sixthGiftPriceWrapper {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.sixthGiftInfo,
.sixthGiftPriceContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sixthGiftPriceContainer {
  flex-direction: row;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
}
.sixthGiftInfo {
  flex-direction: column;
  color: var(--color1);
}
.bgGift6,
.gift3 {
  border-radius: var(--br-8xs);
  background-color: var(--color2);
  border: 1px solid var(--ededf0);
  box-sizing: border-box;
}
.gift3 {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 351px;
  max-width: 100%;
}
.bgGift6 {
  align-self: stretch;
  height: 459px;
  position: relative;
  display: none;
}
.div8,
.ingGift6Icon {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.ingGift6Icon {
  align-self: stretch;
  height: 300px;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div8 {
  flex: 1;
  font-weight: 600;
  display: inline-block;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.p2,
.p3 {
  margin: 0;
}
.div9 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.div10,
.frameChild {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.frameChild {
  height: 1px;
  border-top: 1px solid var(--ededf0);
  box-sizing: border-box;
}
.div10 {
  font-weight: 600;
}
.frame,
.frameItem {
  box-sizing: border-box;
}
.frame {
  width: 127px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) 0 0;
}
.frameItem {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--ededf0);
  z-index: 1;
}
.lineWrapper {
  height: 49px;
  width: 11.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.frameInner {
  width: 13.3px;
  height: 19px;
  position: relative;
  z-index: 1;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.div11 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--montserrat-semi-18);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.frameButton,
.frameContainer {
  flex-direction: row;
  align-items: flex-start;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xs-7);
}
.frameContainer {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer,
.frameWrapper,
.lineParent {
  display: flex;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
}
.lineParent {
  font-size: var(--montserrat-semi-18-size);
  color: var(--color1);
  font-family: var(--montserrat-semi-18);
}
.frameGroup,
.frameParent,
.lineParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  display: flex;
  gap: var(--gap-2xl);
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-proxima-nova);
}
.frameParent {
  gap: var(--gap-2xs);
}
.frameParent,
.gift6,
.giftItems {
  display: flex;
  max-width: 100%;
}
.gift6 {
  width: 370px;
  border-radius: var(--br-8xs);
  background-color: var(--color2);
  border: 1px solid var(--ededf0);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 351px;
}
.giftItems {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px 28px;
  min-height: 953px;
}
.buttonGiftChild {
  height: 52px;
  width: 293px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid var(--e9dd3);
  box-sizing: border-box;
  display: none;
}
.div12 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--montserrat-semi-18);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.allGiftsButtonContainer,
.buttonGift {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.buttonGift {
  cursor: pointer;
  border: 1px solid var(--e9dd3);
  padding: var(--padding-base) var(--padding-29xl) var(--padding-mid);
  background-color: transparent;
  border-radius: var(--br-10xs);
  justify-content: flex-start;
}
.buttonGift:hover {
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.allGiftsButtonContainer {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.gifts,
.popularSetsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.popularSetsContainer {
  width: 1170px;
  align-items: flex-end;
  gap: var(--gap-8xl);
  font-size: var(--montserrat-semi-18-size);
}
.gifts {
  margin-left: -1px;
  margin-bottom: 39px;
  align-self: stretch;
  align-items: center;
  padding: var(--padding-16xl) var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color);
  font-family: var(--montserrat-semi-18);
}
@media screen and (max-width: 750px) {
  .h1 {
    font-size: var(--font-size-5xl);
  }
  .gifts {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--montserrat-semi-18-size);
  }
  .fifthGiftPriceWrapper,
  .frameContainer,
  .sixthGiftPriceWrapper {
    flex-wrap: wrap;
  }
  .buttonGift {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
